<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%ex{2}%n</pattern>
        </encoder>
    </appender>
    <logger name="prototypes" level="info"/>
    <logger name="prototypes.ws.proxy.soap.xml" level="debug"/>
    <logger name="prototypes.ws.proxy.soap.web" level="info"/>
    <logger name="prototypes.ws.proxy.soap.repository" level="info"/>
    <logger name="org.eclipse.persistence" level="info"/>
    <logger name="org.eclipse.persistence.logging.sql" level="info"/>
    <logger name="eclipselink.logging" level="info"/>
    <logger name="org.glassfish.jersey" level="info" />
    <logger name="org.apache.http" level="INFO" />
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>