<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>prototypes.ws.proxy.soap.application.ApplicationInitListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>prototypes.ws.proxy.soap.proxy.ProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>prototypes.ws.proxy.soap.web.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UiServlet</servlet-name>
        <servlet-class>prototypes.ws.proxy.soap.ui.UiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>prototypes.ws.proxy.soap.application.RestApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/p/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/p-novalid/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UiServlet</servlet-name>
        <url-pattern>/ui</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UiServlet</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>ValidationFilter</display-name>
        <filter-name>ValidationFilter</filter-name>
        <filter-class>prototypes.ws.proxy.soap.validation.ValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExchangeTracerFilter</filter-name>
        <filter-class>prototypes.ws.proxy.soap.exchange.ExchangeTracerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExchangeTracerFilter</filter-name>
        <url-pattern>/p/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <url-pattern>/p/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>ui</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/views/jsp/soap-fault-client.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/WEB-INF/views/jsp/soap-fault-server.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
</web-app>
